* {
	background-color: #6A5ACD;
	margin: 0px;
	padding: 0px;
}

.form-label {
	color: white;
	font-size: 30px;
	
	
}

.form-text {
	color: black;
	
}

.form-control {
	width: 800px;
	

}
h1 {
	text-align: center;
	color: white;
	font-weight: bold;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
}
button {
	margin-left: 350px;
}
#exampleCheck1 {
	margin-left: 300px;

}
.form-check-label {
	margin-left: 20px;
}
